/*paint and party css*/
#paintandpartygrid {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    padding: 20px;
    grid-gap: 10px;
}

/*Photgraphy css*/
#photographygrid {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    padding: 20px;
    grid-gap: 10px;
}

/*index css*/
#coverpage {
    display: flex;
    padding: 1em;
    margin: 1em;
    text-align: left;
}

#coverpageimage, #coverpagediv {
    flex-basis: 50%;
}

#coverpagediv {
    padding: 20px;
    padding-top: 400px;
}

#coverh3 {
    text-align: left;
}

#coverh1 {
    text-align: left;
    font-weight: bold;
}

#coverp {
    text-align: left;
}