/*navigation menu css*/
#navmenu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#navmenu ul li {
    display: inline;
    padding: 0 1.5em;
}

#navmenu ul li a {
    font-weight: bold;
    color: black;
}

#navmenu ul li a.current {
    text-decoration: none;
}
 
/*overall website css*/
h1 {
    line-height: 1em;
    text-align: center;
    font-family: "Poller One", serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    color: #741A1B;
    font-size: medium;
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    height: 400px;
    background-image: url(images/solidbackground.jpg)
}

br {
    clear: both;
}


/*brand story page css*/
article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid black;
}


/*Media query for the navigation menu*/
@media only screen and (max-width:850px) {

    #navmenu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navmenu ul li {
        background: black;
        width: 150px;
        margin: 0 15px 15px 0;
        padding: 5px;
        text-align: center;
    }

    #navmenu ul li a {
        color: white;
    }

    /*index page media query*/
    #coverpage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #profilepic {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main q {
        font-style: italic;
        font-size: medium;
        font-weight: 100;
        color: black;
        background-color: beige;
        padding: .2em;
    }

    /*artist cv page media query*/
    section#pastevents>h2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section#rebelbeauties>h2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section#websitel>h2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /*paint and party page media query*/
    main#paintandparty>p {
        display: flex;
        background-color: black;
        padding: 1em;
        margin: 1em;
        border-radius: 10px;
        color: white;
    }

    /*photography page media query*/
    main#photography>p {
        display: flex;
        background-color: black;
        padding: 1em;
        margin: 1em;
        border-radius: 10px;
        color: white;
    }

    /*brand story page media query*/
    article {
        column-count: 2;
        column-gap: 35px;
        column-rule: 2px solid black;
    }
}