/*NAVIGATION MENU*/
#navmenu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#navmenu ul li {
    display: inline;
    padding: 0 1.5em;
}

#navmenu ul li a {
    font-weight: bold;
    color: black;
}

#navmenu ul li a.current {
    text-decoration: none;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif font-weight: 200%;
    line-height: 1em;
    text-align: center;
}

h4 {
    color: #741A1B;
    font-size: medium;
    text-align: center;
}

h2 {
    text-align: center;
}

/*website background*/
body {
    height: 400px;
    background-image: url(images/solidbackground.jpg)
}


/*index page css*/
#bio {
    padding: 1em;
    columns: 1;
}

header#profilepic>img {
    border: thin black solid;
    border-radius: 10px;
    width: 25%;
    float: right;
    margin-right: 10%;
}

br {
    clear: both;
}


/*brand story page css*/
article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid black;
}

/*artsitcv page css*/
#jobdescription {
    font-weight: 100;
    color: #0E0D24;
}

section#pastevents>h2 {
    padding: .3em;
    text-align: left;
}

section#rebelbeauties>h2 {
    padding: .3em;
    text-align: left;
}

section#website>h2 {
    padding: .3em;
    text-align: left;
}

section#rebelbeauties a:hover {
    font-size: 100%;
    color: #FE9900;
}




/*MOBILE QUERY small changes that happens when webpage is smaller*/
@media only screen and (max-width:850px) {
    /*NAV MENU*/
    #navmenu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navmenu ul li {
        background: black;
        width: 150px;
        margin: 0 15px 15px 0;
        padding: 5px;
        text-align: center;
    }

    #navmenu ul li a {
        color: white;
    }

    /*index page media query*/
    #coverpage {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 800px;
    }

    #profilepic {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main q {
        font-style: italic;
        font-size: medium;
        font-weight: 100;
        color: black;
        background-color: beige;
        padding: .2em;
    }

   /*artist cv page media query*/
    section#pastevents>h2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section#rebelbeauties>h2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section#websitel>h2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

     /*paint and party page media query*/
    main#paintandparty>p {
        display: flex;
        background-color: black;
        padding: 1em;
        margin: 1em;
        border-radius: 10px;
        color: white;
    }

   /*photography page media query*/
    main#photography>p {
        display: flex;
        background-color: black;
        padding: 1em;
        margin: 1em;
        border-radius: 10px;
        color: white;
    }

 /*brand story page media query*/
    article {
        column-count: 2;
        column-gap: 35px;
        column-rule: 2px solid black;
    }
}

